<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Poem Maker Pro</title>
</head>

<body>
	<h1>Enter terms below.</h1>
    <form method="post" action="/poem">
    	<p>Plural noun:<input type="text" name="noun1"/></p>
        <p>Single noun:<input type="text" name="noun2" /></p>
        <p>Verb(past tense):<input type="text"  name="verb"/></p>
        <p>Noun<input type="text" name="noun3" /></p>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>
